<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project mng">
      <figure class="project__pic">
          <!-- <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt=""> -->
          <div>
          <img src="{{site.baseurl}}/img/featured/mng/img1.png" alt="">
        </div>
        <div>
          <img src="{{site.baseurl}}/img/featured/mng/img2.png" alt="">
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://maxxngo.com/" target="_blank">Maxx 'N Go</a>
        </div>
        <p>Car assistance app that helps busy car owners take care of their cars in a simple, convenient and rewarding way. 
          The app is easy to use, bringing convenience to busy car owners.</p>
          <a href="https://play.google.com/store/apps/details?id=com.maxxngo.mobile.customer" target="_blank">Playstore</a>
      </figcaption>
    </div>

    <div class="project hellomind">
        <figure class="project__pic">
            <div>
            <img src="https://lh3.googleusercontent.com/9nysxnmt003z54DhICB4LQ5UfyFKhbdg1s7wnSso2i0ray6u52egR1weVyWuIiJplwE=w720-h310-rw" alt="">
          </div>
          <div>
              <img src="https://lh3.googleusercontent.com/iWzYRbeXGXaC21Z4FNHKsJVGb5NEKp6DPh6vjxnegQeesNIH1NycvblhseNhQuRTnAmr=w720-h310-rw" alt="">
            </div>
            <div>
                <img src="https://lh3.googleusercontent.com/H4aBGB7ktinqXFK8MJgPwPZzGPGFp7F3MlzI6eYYW_EQLUAbICImQFxM3TxKMejRIA=w720-h310-rw" alt="">
              </div>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://www.hellomind.com/" target="_blank">HelloMind</a>
          </div>
          <p>Hypnosis is a human condition involving focused attention, reduced peripheral awareness, and an enhanced capacity to respond to suggestion. There are competing theories explaining hypnosis and related phenomena. 
            HelloMind is created to help you make a change and feel stronger.
          </p>
            <a href="https://play.google.com/store/apps/details?id=com.hellomind" target="_blank">Playstore</a>
        </figcaption>
      </div>

  </div>
</section>
